{% extends "base.html" %}

{# the front facing website #}

{% block content %}
<h1 class="title">
  onoruu's website 
</h1>
<h3>welcome to my little corner of the web! </h3>

<p>Last updated: {{ now() | date(format="%B %-d, %Y, %-I:%M %p", timezone="America/New_York") }}</p>
<details>
  <summary>github changelog</summary>
  <a href="https://github.com/r3quisitevariety/onoruu.neocities.org/commits/main/">https://github.com/r3quisitevariety/onoruu.neocities.org/commits/main/</a>
</details>

{% endblock content %}
